/* --AMIMATIONS */

@keyframes loader-icon-spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

/* --LOADER */

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: .8;
}

.loader__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 10px solid #aaaaaa; /* medium dark grey */
  border-top: 10px solid #3498db; /* Blue */
  border-bottom: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: loader-icon-spin 2s linear infinite;
}

/* --SUBS-FORM */

.subs-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, .8);
  z-index: 1000;

}

.subs-form__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-height: 60vh;
  width: 60vw;
  background: white;
  padding: 20px;
}

.subs-form__content h3 {
  padding: 15px 10px;
}

.subs-form__close {
  position: absolute;
  top: 0;
  right: 0;
}

/* --BUTTONS */
.btn {
  border: 0;
  background: inherit;
  border-radius: 3px;
  padding: 5px 10px;
}

.btn:hover {
  background: #aaa;
  cursor: pointer;
}

.btn--blue {
  background: #0074a2;
  color: #fff;
}

.btn--red {
  background: rgb(163, 50, 8);
  color: #fff;
}


/* --HELPER CLASSES */
.rel-position { position: relative !important; }
.height100px { height: 100px !important; }
.margin-top-medium { margin-top: 20px !important; }